@font-face {
	font-family: 'Franchise';
	src: url('../fonts/Franchise-Bold-hinted.ttf');
}

html, body {
	width: 95%;
	text-align: center;
	font-family: Verdana, Arial, serif;
}

a, a:visited {
	text-decoration: none;
	color: #e76700;
}

h1 {
	font-family: Franchise, arial, sherif;
	font-size: 70px;
	color: #1c4726;
}

h4 {
	font-weight: normal;
}


nav a {
	background-color: #1c4726;
	display: inline-block;
	width: 170px;
	font-weight: bold;
}

nav a:hover {
	background-color: #266134;
}

nav .side {
	padding: 12px;
}

nav .center {
	padding: 22px;
}

.licence {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 95%;	
}

.logo_github {
	position: absolute;
	bottom: 5px;
	right: 30px;
}
